@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('./assets/fonts/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('./assets/fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/MuseoSansCyrl-500.woff') format('woff'),
		url('./assets/fonts/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('./assets/fonts/MuseoSansCyrl-300Italic.eot');
	src: local('MuseoSansCyrl-300Italic'),
		url('./assets/fonts/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
		url('./assets/fonts/MuseoSansCyrl-300Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('./assets/fonts/MuseoSansCyrl-500Italic.eot');
	src: local('MuseoSansCyrl-500Italic'),
		url('./assets/fonts/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/MuseoSansCyrl-500Italic.woff') format('woff'),
		url('./assets/fonts/MuseoSansCyrl-500Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
    font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('./assets/fonts/MuseoSansCyrl-900.eot');
	src: local('MuseoSansCyrl-900'),
		url('./assets/fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/MuseoSansCyrl-900.woff') format('woff'),
		url('./assets/fonts/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('./assets/fonts/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
		url('./assets/fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/MuseoSansCyrl-700.woff') format('woff'),
		url('./assets/fonts/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('./assets/fonts/MuseoSansCyrl-700Italic.eot');
	src: local('MuseoSansCyrl-700Italic'),
		url('./assets/fonts/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/MuseoSansCyrl-700Italic.woff') format('woff'),
		url('./assets/fonts/MuseoSansCyrl-700Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Museo Sans Cyrl', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.section_rounded {
    border-radius: 40px;
}

.section-support {
    background-image: url('assets/images/s-support-bg.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 54px 0;
    margin-bottom: 82px;
}

.section-support__title {
    margin-bottom: 4px;
}

.section-support__text {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
    font-size: 17px;
    line-height: 140%;
}

.section__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.section__title_accent {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}

.action-list {
    display: flex;
}

.action-list li:not(:last-child) {
    margin-right: 8px;
}

.btn {
    border-radius: 12px;
    padding: 17px 25px;
    border: 0 none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
    background-color: #fff;
    line-height: 120%;
    min-width: 160px;
}

.section-social {
    box-shadow: 0 20px 60px 0 rgba(26, 26, 26, 0.05);
    background-color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.social-link {
    width: 56px;
    height: 56px;
    display: block;
    background-color: #F9F9F9;
    border-radius: 13.33px;
}

.swiper {
    width: 600px;
    height: 300px;
}

.section-info {
    margin-bottom: 40px;
}

.accordion__item {
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.accordion__item:not(:last-of-type) {
    margin-bottom: 12px;
}

.accordion__link {
    width: 100%;
    padding: 20px 24px;
    display: flex;
}

.accordion__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
}

.accordion__link,
.accordion__link:visited,
.accordion__link:active,
.accordion__link:link {
    color: #1a1a1a;;
}

.accordion__text {
    overflow: hidden;
    max-height: 0px;
    transition: max-height .3s;
}